* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
}

.column {
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  flex-shrink: 0;
  background-color: rgb(54, 54, 54);
  position: relative;
  border: 1px solid black;
}

.column::-webkit-scrollbar {
  width: 8px;
}

.column::-webkit-scrollbar-track {
  background-color: rgb(110, 110, 110);
}

.column::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2px;
}

.column::-webkit-scrollbar-thumb:hover {
  background: white;
  opacity: 0.8;
}

.column-title {
  text-align: center;
  color: aliceblue;
  background-color: rgb(54, 54, 54);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  user-select: none;
  position: sticky;
  width: 100%;
  top: 0;
}

.drag-element {
  width: calc(100% - 8px);
  height: 100px;
  background-color: #161b22;
  margin: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  user-select: none;
  color: aliceblue;
  transition: all 0.1s linear;
}
